body{
    background-color: lightpink;
}

p{
    text-align: center
}

h1{
    text-align: center
}

div{
    
    
}

table{
    color: purple

}

#bio{
    color:cadetblue
}

#playtime{
    color:cadetblue
}

#bedtime{
    color:cadetblue
}